/* body {
    background-color: darkslategrey;
    background-image: url('https://images.unsplash.com/photo-1517849845537-4d257902454a');
    background-size: cover;
    background-attachment: fixed;
} */
main {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 18vh 15vw;
}
header{
    margin: 10vh 10vw;
    text-align: center;
    /* make the elements more far apart */
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top:0;
    z-index: 999;
  
}
p {
    font-size: 1.5rem;
    margin: 1rem 0;
}
a {
    color: #007bff;
    text-decoration: none;
}
.navigationBar{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    margin: 0.6rem;
}
a:hover {
    text-decoration: underline;
}
.Title {
    font-weight: bold;
    font-size: 2rem;
}
h1 {
    font-weight: bold;
    font-size: 2rem;
}
.bold-italic {
    font-weight: bold;
    font-style: italic;
}
.left-pane {
    width: 47%;
    float: left;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    background-color: lightgrey;
    margin-right: 0.5rem;
}

.right-pane {
    width: 47%;
    float: right;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    background-color: lightgrey;
    margin-left: 0.5rem;
}